body{
    background-color: #e0e0d1;
}

p{
    font-size: 25px;
    color: black;
}


.prject-1{
    display: flex;
    justify-content: center; /* Center horizontally */
    font-size: 40px;
}


.p1{
    display: flex;
    justify-content: center; /* Center horizontally */
    max-width: 700px;
    margin: 0 auto;
    
}

.p1-link{
    width: 65px;
    height: 65px;
    position: relative;
    right: -650px;
    padding-bottom: 20px;
}
.p1-link:hover {
    transform: scale(1.2); 
    color: lightgray; 
    cursor: pointer;
}




.project-2{
    display: flex;
    justify-content: center; /* Center horizontally */
    font-size: 40px;
}
.p2{
    display: flex;
    justify-content: center; /* Center horizontally */
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.p2-link{
    width: 65px;
    height: 65px;
    position: relative;
    right: -650px;
    padding-bottom: 20px;
}


.p2-link:hover {
    transform: scale(1.2); 
    color: lightgray; 
    cursor: pointer;
}

.project-3{
    display: flex;
    justify-content: center; /* Center horizontally */
    font-size: 40px;
}

.p3{
    display: flex;
    justify-content: center; /* Center horizontally */
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 40px;
}


.p3-link{
    width: 65px;
    height: 65px;
    position: relative;
    right: -650px;
    padding-bottom: 20px;

}

.p3-link:hover {
    transform: scale(1.2); 
    color: lightgray; 
    cursor: pointer;
}