{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="{% static 'project.css' %}">
</head>
<body>

    <div>
    <p class = "prject-1">  #1 Mail Men <p>
        <p class ="p1">Mail Men is a Python/Django web application designed for efficient email
             management. Using Django Rest Framework and SQLite, it supports secure user authentication, 
             a versatile interface for email handling, and advanced search functionalities. The app also features profile picture uploads and detailed email tracking. Deployed on AWS EC2 .<p>
                <a href="https://github.com/Sahil24680/Mail-Men">
            <img  class = "p1-link"src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" />
                </a>

            </div>

  <div> 
<p class = "project-2"> #2  Quick Chat<p>
    <p class ="p2">Quick Chat is a Python/Django web app that 
        provides a streamlined tweet management system. Using Django Rest Framework and SQLite, it offers 
        secure user authentication, a user-friendly interface for managing tweets, and admin privileges for comprehensive content control. Features include profile picture integration and tracking of user interactions such as followers and tweet likes.</p>


        <a href="https://github.com/Sahil24680/Quick-Chat">
            <img  class = "p2-link"src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" />
                </a>

  </div>



</div>

<p class = "project-3"> #3 Resume GPT<p>
<p class ="p3">Resume GPT is a Python/Django application that leverages the Google Docs and Drive APIs to automate resume creation and delivery. It dynamically generates resume
     templates based on user input and has successfully assisted over 30 individuals in creating their first resume. </p>



     <a href="https://github.com/Sahil24680/Resume-GPT">
        <img  class = "p3-link"src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" />
            </a>


<div> 



    


</body>
</html>
